.boxStatistics {
  display: inline-block;
  width: 22%;
  margin: 0 10px;
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.boxStatistics h3 {
  text-transform: uppercase;
  font-size: 17px;
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
}

.boxStatistics span {
  font-size: 20px;
}
