nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

.loggedAs {
  display: block;
  padding: 20px 10px;
}
