header {
  border-bottom: 1px solid #ccc;
  background: #eee;
  position: relative;
}

#cabecalho {
  height: 50px;
  width: 980px;
  position: relative;
  margin: 0 auto;
}

#logo {
  line-height: 50px;
  float: left;
  font-family: nexaB;
}

#logo a {
  text-decoration: none;
  color: #000;
  transition: 0.6s;
}

#logo a:hover {
  opacity: 0.5;
  transition: 0.6s;
}
